
#mainBox{
	width: 960px;
	margin: 0 auto;
	}
	#mainBox>div{
		float: left;
		overflow: hidden;
	}
	#mainBox .tuan-dui{
		width: 180px;
		}
		#mainBox .tuan-dui .td-list{
			width: 100%;
			margin-bottom: 20px;
			float: left;
		}
		#mainBox .tuan-dui .td-list>.user-img{
			width: 35px;
			height: 35px;
			margin-right: 10px;
			float: left;
			}
			#mainBox .tuan-dui .td-list>.user-sub>a{
				width: 60px;
				float: left;
				height: 16px;
				margin-bottom: 3px;
				color: #666;
			}
			#mainBox .tuan-dui .td-list>.user-sub>span{
				width: 120px;
				float: left;
				color: #999;
			}
	#mainBox .dong-tai{
		width: 500px;
		margin-left: 50px;
		margin-right: 50px;
		}
		#mainBox .dong-tai .header-left{
			float: left;
		}
		#mainBox .dong-tai .header-right{
			margin-top: 5px;
			float: right;
			font: 12px '宋体',Tahoma;
			text-align: center;
			}
			#mainBox .dong-tai .header-right>a{
				margin-top: 5px;
				font: 12px '宋体',Tahoma;
				color: #D03109;
				opacity: 0.5;
			}
			#mainBox .dong-tai .header-right>a:hover{
				opacity: 1;
				text-decoration: none;
			}
		#mainBox .dong-tai .dt-list>.dt-title{
			width: 380px;
		}
	#mainBox .chan-pin{
		width: 180px;
		float: right;
		overflow: hidden;
		}
		#mainBox .chan-pin>div>a{
			text-decoration: none;
			float: left;
		}
		#mainBox .chan-pin li.cp-list{
			cursor: pointer;
			}
			#mainBox .chan-pin li.cp-list>.cp-img{
				width: 180px;
			}
